body{
    background: linear-gradient(200deg, #0C2D48,#145DA0,#2E8BC0);
    font-family: 'Poppins', sans-serif !important;
    width: 100%;
    height:100%;
    
}
.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 21%;
}
.navbar{
    min-width: 77%;
    height: 6rem;
    margin-top: 3rem;
    border-radius: 11px;
    background: #B1D4E0;
    font-family: 'Poppins', sans-serif;
}

.cards{
    background: #B1D4E0; 
    transition: .3s ease-in-out ;
   
  }
  .cards:hover{
    transform: scale(1.03);
    cursor: pointer;
  }
.logo{
    display: flex;
    flex-direction: column;
    font-weight: 800;
}
.navbar-brands{
    text-indent: 2rem;
    text-decoration: none;
    color: black;
}
.nav_action{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-weight: 700;
    
}
.nav_action a{
    color: black;
}
.nav-item{
    display: flex;
    justify-content: center;
    width: 10%;
}

.admin{
    display: flex;
   
}
.admin button{
    font-size: 3rem;
}
.forms{
    display: flex;
    flex-direction: row;
}
.log{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.log p{
    padding-top: 1rem;
    font-weight: 800;
}
.log button{
    font-size: 3rem;
}

.images{
    display: flex;
  
    justify-content: center;
    
    padding-top: 2rem;
  }
  .images img{
    width: 80%;
    border-radius: 11px;
  }

.button{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 2.5rem;
}
.button a{
    text-decoration: none;
    color: black;
}